# Firebase Admin Service Account (JSON string)
# Get this from Firebase Console > Project Settings > Service Accounts
FIREBASE_SERVICE_ACCOUNT=

# Resend API Key for sending emails
# Get this from https://resend.com
RESEND_API_KEY=re_H7ptSzqm_NddJX3DWqbc5DBvBVfA2QyY3
